/.ipynb_checkpoints
udacity-project-231120.ipynb
/Power BI
/images
/data
aml-pipelines-with-automated-machine-learning-step.ipynb
auto-pipelines-with-ml-classification-bank-marketing.ipynb
automl_errors.log
auto-pipelines-with-ml-classification-bank-marketing_28122020.html
azureml_automl.log

