/.ipynb_checkpoints
udacity-project-231120.ipynb
/Power BI
/images
/data
aml-pipelines-with-automated-machine-learning-step.ipynb
auto-pipelines-with-ml-classification-bank-marketing.ipynb
auto-pipelines-with-ml-classification-bank-marketing_28122020.ipynb
automl_errors.log
auto-pipelines-with-ml-classification-bank-marketing_28122020.html
azureml_automl.log
auto-pipelines-with-ml-classification-bank-marketing_30122020.ipynb
auto-pipelines-with-ml-classification-bank-marketing_30122020_run.html
auto-pipelines-with-ml-classification-bank-marketing_30122020_run.ipynb
aml-exercise-pipelines-with-automated-machine-learning-step_RUN.ipynb
aml-exercise-pipelines-with-automated-machine-learning-step_RUN.html


